<!DOCTYPE html>
<html>
  <head>
    <title>OpinionMiner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		
		<% if current_user %>
		  Welcome <%= current_user.name %>!
		  <%= link_to "Sign Out", signout_path %>
		<% else %>
		  <%= link_to "Sign in with Twitter", "/auth/twitter" %>
		<% end %>
		
		
    <%= yield %>
  </body>
</html>
